.hero-animate {
  transition: all 0.7s ease-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1 !important;
}

.translate-y-5 {
  transform: translateY(20px);
}

.translate-y-0 {
  transform: translateY(0px);
}
